@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Sour Gummy";
  background-color: #0f1329;
  color: #90abd0;
  font-size: 20px;
}
.container {
  padding-top: 40px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #8a2442;
}

input, textarea {
  border-radius: 6px;
  padding: 8px;
  border: none;
  font-size: 20px;
  background-color: white;
  color: #0f1329;
  font-family: "Sour Gummy";
}
button {
  border: none;
  color: #90abd0;
  padding: 7px 7px;
  text-align: center;
  background-color: #0f1329;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Sour Gummy";
}

